<mat-card class="example-card">
  <mat-card-header class="grad">
    <mat-card-title class="heading">All Stocks </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stockName">
          <th mat-header-cell *matHeaderCellDef>Stock Name</th>
          <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
        </ng-container>

        <ng-container matColumnDef="currentPrice">
          <th mat-header-cell *matHeaderCellDef>Current Price ( ₹ )</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <ng-container matColumnDef="previousClose">
          <th mat-header-cell *matHeaderCellDef>Previous Close ( ₹ )</th>
          <td mat-cell *matCellDef="let element">{{ element.previousClose }}</td>
        </ng-container>

        <ng-container matColumnDef="low">
          <th mat-header-cell *matHeaderCellDef>Today's Low ( ₹ )</th>
          <td mat-cell *matCellDef="let element">{{ element.low }}</td>
        </ng-container>

        <ng-container matColumnDef="high">
          <th mat-header-cell *matHeaderCellDef>Today's High ( ₹ )</th>
          <td mat-cell *matCellDef="let element">{{ element.high }}</td>
        </ng-container>

        <ng-container matColumnDef="buy">
          <th class="center" mat-header-cell *matHeaderCellDef>Buy</th>
          <td class="center" mat-cell *matCellDef="let element">
            <button (click)="buyStock(this.element)">Buy</button>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="sell">
          <th mat-header-cell *matHeaderCellDef>Sell</th>
          <td mat-cell *matCellDef="let element">
            <button  (click)="sellStock(this.element)"> Sell</button>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

