mat-card {
    height: auto;
    width: auto;
    /* border: 2px solid #ff6700; */
    padding: 0rem;
    margin: 0rem;
    border-radius: 0rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
}

.demo-table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.grad {
    /* background-image: linear-gradient(to right, #1F34D4  , #1AA7EC); */
    background-image: linear-gradient(to right, #ff6702, #ffd1b2);
}

.heading {
    font-size: 1.5rem;
}

table {
    width: 100%;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
}

td {
    font-size: 1rem;
}

th {
    font-size: 1rem;
}

table {
    width: 100%;
    /* width: 30% */
}

td,
input {
    color: #575A89;
    cursor: pointer;
}

mat-paginator,
mat-label,
th,
mat-form-field {
    color: #FF6700;
}

.mat-row .mat-cell {
    transition: transform .6s;
    /* Animation */
}

.mat-row:hover .mat-cell {
    border-color: #FF6700;
    background: #F2F2F2;
}

.mat-elevation-z2 {
    width: 90%;
    border-left: 3px solid #FF6700;
    border-radius: 8px;
}

.grad {
    /* background-image: linear-gradient(to right, #1F34D4  , #1AA7EC); */
    background-image: linear-gradient(to right, #ff6702, #ffd1b2);
}

mat-card-header {
    /* background-color: #ffd1b2; */
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
}

mat-card-title {
    padding: 1rem;
}

mat-card-content {
    padding: 1rem;
}

button {
    color: #FF6700;
    border-radius: .5rem;
    border: 0;
    margin: 1rem;
    padding: .5rem;
    border: 1px solid #FF6700;
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.center {
    text-align: center;
}

button:hover {
    background: #FF6700;
    color: #F2F2F2;
}