.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button{
  background: #FF6700;
  color: #F2F2F2;
  margin-top: 1rem;

}

.wrapper {
  text-align: center;
}

mat-card{
  height: auto;
  width: auto;
  /* border: 2px solid #ff6700; */
  padding: 0rem;
  margin: 0rem;
  border-radius: 0rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
}

mat-card-header{
  /* background-color: #ffd1b2; */
  border-radius: 1rem 1rem 0rem 0rem;
  color: white;
}
mat-card-title{
  padding: 1rem;
}

mat-card-content{
  padding: 1rem;
}

.demo-table {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.grad {
  /* background-image: linear-gradient(to right, #1F34D4  , #1AA7EC); */
  background-image: linear-gradient(to right, #ff6702  , #ffd1b2);
}

.heading{
  font-size: 1.5rem;
}

table{
  width: 100%;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
}

td{
  font-size: 1rem;
}

th{
  font-size: 1rem;
}

mat-radio-button{
  margin-right: 1rem;
}

.datepicker{
  margin-right: 2rem;
}
