<div class="container mb-5">
    <h1 class="text-center mb-5">Our <span class="color">Team</span></h1>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of team">
            <div class="card">
                <div class="imgBx">
                    <img src={{item.image}} alt="images" />
                </div>
                <div class="details">
                    <h2>
                        {{item.name}}
                        <br />
                        <span>{{item.position}}</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>