<section>
    <div class="container py-5">
        <div class="row">
            <div class="wow slideInLeft text-area col-md-6" data-wow-duration="2s" style="visibility: visible;">
                <div>
                    <span class="mat-display-3">WELCOME TO SMART STOCKS</span>
                    <p class="mat-body-2">An investment in knowledge pays the best INTEREST.</p>
                    <a routerLink="/discover/top-gainer">
                        <button mat-raised-button>DISCOVER MORE</button>
                    </a>

                </div>
            </div>

            <div class="col-md-6">
                <div class="image-area">
                    <img src="assets/stonks.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>
