.page-container {
    height: 100%;
    background: #fafafa;
    color: #575A89;
    display: flex;
    flex-direction: column;
    a {
        color: inherit;
        text-decoration: none;
    }
    header {
        background: #fff;
        color: #FF6700;
        border-bottom: .1rem solid #F2F2F2;
        padding: 18px 24px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        .menu-button {
            margin-right: 24px;
            min-width: 0;
            padding: 0;
            line-height: normal;
        }
        .app-title {
            font-size: 1.5rem;
        }
    }
}

.sidenav-container {
    flex: 1;
    .sidenav {
        min-width: 240px;
        a {
            display: block;
            padding: 6px 24px;
            text-align: left;
            width: 100%;
        }
    }
    main {
        padding: 18px 24px;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 80%;
}

td,
input {
    color: #575A89;
}

mat-paginator,
mat-label,
th,
mat-form-field {
    color: #FF6700;
}

.mat-row .mat-cell {
    transition: transform .6s;
    /* Animation */
}

.mat-row:hover .mat-cell {
    border-color: #FF6700;
    background: #F2F2F2;
}

.mat-elevation-z2 {
    width: 90%;
    border-left: 3px solid #FF6700;
    border-radius: 8px;
}

li,
ul {
    color: #FF6700;
    font-size: 1rem;
    transition: transform .3s;
    padding-bottom: .5rem;
}

ul {
    list-style-type: square;
}

li:hover {
    cursor: pointer;
    font-size: 1.01rem;
    background: #F2F2F2;
}