
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-7 mt-md-0 mt-3 mr-5">
        <h3 class="text-uppercase left">ABOUT</h3>
        <p class="justify subListColor">Smart Stocks is the product of Hashedin University, which focuses on providing financial insights
          about stocks and stock market with interactive graphs, risk analysis and price prediction to its users, it
          also provides top gainers, top losers, best stock of the month and recommended stocks.
          Smart Stocks also focuses on teaching the beginners about stock market in Smart Stocks
          University Portal, provides mock stock market sandbox  where user can
          practice buy/selling of stocks to get good grip while gambling with real stock markets.</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-2 mb-md-0 mb-3">
          <h3 class="text-uppercase left">EXPLORE</h3>
          <ul class="list-unstyled left subListColor">
            <li>
              <a routerLink="discover/all-stocks">All Stocks</a>
            </li>
            <li>
              <a routerLink="discover/top-gainer">Top Gainers</a>
            </li>
            <li>
              <a routerLink="discover/top-loser">Top Losers</a>
            </li>
            <li>
              <a routerLink="discover/recommendation">Recommended </a>
            </li>
            <li>
              <a routerLink="discover/best-month">Best Of the Month</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-3">
          <h3 class="text-uppercase left">Quick Links</h3>
          <ul class="list-unstyled left subListColor">
            <li>
              <a routerLink="user/sandbox/dashboard">Dashboard</a>
            </li>
            <li>
              <a routerLink="user/profile">User Profile</a>
            </li>
            <li>
              <a routerLink="user/sandbox/orders">Orders</a>
            </li>
            <li>
              <a routerLink="user/sandbox/credits">Credits</a>
            </li>
            <li>
              <a routerLink="user/sandbox/stocks">Sandbox</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <hr>
 <div class="foot">&copy; 2021 Smart Stocks</div>
</footer>
