mat-card{
  height: auto;
  width: auto;
  /* border: 2px solid #ff6700; */
  padding: 0rem;
  margin: 0rem;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;

}

mat-card-header{
  background-color: #ffd1b2;
  border-radius: 1rem 1rem 0rem 0rem;
  color: white;
}
mat-card-title{
  padding: 1rem;
}

.heading{
  font-size: 1.5rem;
}

mat-card-content{
  padding: 1rem;
}

.details{
  font-size: 1.25rem;
}

#shortTerm{
  color: red;
}

#mediumTerm{
  color: rgb(255, 225, 56);
}

#longTerm{
  color: green;
}

.terms{
  padding-top: 2rem;
  padding-left: 1.5rem;
}

/* .donut{
  height: 20rem;
  width: auto;
} */

.grad {
  /* background-image: linear-gradient(to right, #1F34D4  , #1AA7EC); */
  background-image: linear-gradient(to right, #ff6702  , #ffd1b2);
}

.donut{
  height: auto;
  width: 150px;
}
