<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-3 align-self-start">
            <app-stock-details-sidebar></app-stock-details-sidebar>
        </div>
        <div class="col-lg-9">
            <app-graph></app-graph><br>
            <app-about-company></app-about-company><br><br>
            <app-risk-analysis></app-risk-analysis><br><br>
            <app-predicted-price></app-predicted-price><br><br>
            <app-peer-stocks></app-peer-stocks><br>
        </div>
    </div>
</div>