<section class="py-5">
    <div class="wow fadeInUp container" data-wow-duration="3s">
        <div class="row">
            <app-cart class="col-sm-6" iconName="feed" iconText="Get the latest news update on the market strategies to be ahead of the race. There is nothing worse than staying uniformed!" iconHeading="Find out latest stock news"></app-cart>
            <app-cart class="col-sm-6" iconName="search" iconText="Get all the details of the stocks trending and the market values along with the analysis of the market risk." iconHeading="Discover new trending stocks"></app-cart>
        </div>
        <div class="row">
            <app-cart class="col-sm-6" iconName="star" iconText="Discover the top gainers of the stock market for today." iconHeading="Top Gainer in Day"></app-cart>
            <app-cart class="col-sm-6" iconName="savings" iconText="Discover the stocks ideal for buying, and the Market capitals favourable." iconHeading="Top Stock to Invest"></app-cart>
        </div>
    </div>
</section>
