
button{
  background: #FF6700;
  color: white;
  margin-top: 1rem;

}

#calculate{
  /* margin-left: auto; */
}

label{
  font-family: 'Poppins', sans-serif;
}

mat-card{
  height: auto;
  width: auto;
  /* border: 2px solid #ff6700; */
  padding: 0rem;
  margin: 0rem;
  border-radius: 0rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
}

mat-card-header{
  /* background-color: #ffd1b2; */
  border-radius: 1rem 1rem 0rem 0rem;
  color: white;
}
mat-card-title{
  padding: 1rem;
}

mat-card-content{
  padding: 1rem;
}

.container{
  margin: 1rem 2rem;
}

.grad {
  /* background-image: linear-gradient(to right, #1F34D4  , #1AA7EC); */
  background-image: linear-gradient(to right, #ff6702  , #ffd1b2);
}

.heading{
  font-size: 1.5rem;
}


