<mat-card class="wow fadeInUp example-card" data-wow-duration="3s" style="overflow: hidden;">
    <div class="row align-items-center" style="min-height: 20vh;">
        <div class="col-md-2">
            <mat-icon>{{iconName}}</mat-icon>
        </div>
        <div class="col-md-10">
            <mat-card-content>
                <p class="mat-headline">{{iconHeading}}</p>
                <p>
                    {{iconText}}
                </p>
            </mat-card-content>
        </div>

    </div>

</mat-card>